export RABBITMQ_ENDPOINT="http://rabbitmq.container.shipyard.run:15672"
export RABBITMQ_USERNAME="guest"
export RABBITMQ_PASSWORD="guest"
export VAULT_ADDR="http://vault.container.shipyard.run:8200"
export VAULT_TOKEN="root"